.fs{
    font-family: 'Shantell Sans', cursive;
} 
.fa-brands{
    color: red;
}
.icon{
    margin-left: 585px;
}
.carousel-item img{
    width: 100%;
    height: 500px;
}
.hireme{
    margin-top: 0px;
}
.website{
    margin-top: 70px;
}
.footer{
    margin-top: 70px;
}
